@media screen and (max-width: 900px){
    header .menu-desk, header .btn-contacto{
        display: none;
    }

    header .btn-menu-mob{
        display: block;
    }
}

@media screen and (max-width: 878px){
    /* Responsivo da hero */
    .hero-site .txt-hero h1{
        font-size: 2.6em;
        line-height: 50px;
        font-weight: 200;
    }
    
    
    .hero-site .txt-hero p{
        font-size: 14px;
    }
    
    .hero-site .txt-hero p span{
        display: inline;
    }
    
    .hero-site button{
        font-size: 18px;
    }

    /* Responsivo das vantagens */
    .vantagens .itens-container{
        flex-direction: column;
    }
    
    .vantagens .itens-container .img-itens img{
        width: 100%;
    }

    .vantagens .itens-container .txt-itens p{
        margin-bottom: 20px;
    }
    
   .vantagens .itens-container .item-1{
    order: 1;
   }

   .vantagens .itens-container .item-2{
    order: 0;
   }

   /* Responsivo do contacto */
    .txt-contacto, .icons-contacto{
        display: block;
        width: 100%;
    }

    .contacto .txt-contacto h3{
        font-size: 2em;
        line-height: 40px;
    }

    .contacto .txt-contacto p{
        margin-bottom: 20px;
        font-size: 1em;
    }

    .contacto .icons-contacto button{
        width: 100%;
    }

    /* Responsividade da seccao Hoteis */
    .hoteis h3{
        font-size: 2.3em;
        line-height: 40px;
        font-weight: 200;
    }

    .hoteis p{
        margin: 20px 0px;
        font-size: 16px;
    }

    .hoteis button{
        width: 255px;
        height: 60px; 
    }

    /* Responsividade de como funciona */
    .txt-funciona, .instrucoes{
        display: block;
        width: 100%;
    }

    .como-funciona .txt-funciona{
        position: static;
    }

    .como-funciona .txt-funciona h3{
        font-size: 3em;
        line-height: 50px;
    }

    .instrucoes .instru-box{
        flex-direction: column;
        text-align: center;
    }

    /* Responsividade do rodape */
    footer .middle-footer a{
        margin: 15 0px;
        display: block;
    }

    footer .bottom-footer p{
        color: #fff;
        margin-top: 10px;
        font-size: 14px;
    }


}