*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;  
 font-family: "Poppins", sans-serif; 
}



body{
    background-color: #e3e3e3;
}

.interface{
    max-width: 1080px;
    margin: 0px auto;
    padding: 0 4%;
}

header .btn-contacto button, .hero-site button, .hoteis button{
    font-size: 18px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

header .btn-contacto button:hover, .hero-site button:hover, .hoteis button:hover{
    background-color: white;
    color: black;
}

/* Estilo do Header */
header{
    width: 100%;
    padding: 40px 0px;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    z-index: 9999999;
}

header .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img{
    max-width: 40px;
}

/* Estilo do menu dinamico */

header .logo img.logo-preta{
    display: none;
}

header.rolar{
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.638);
}

header.rolar .menu-desk nav ul li a{
    color: black;
}

header.rolar .btn-contacto button{
    border: 1px solid black;
    color: black;
}

header.rolar .btn-contacto button:hover{
    background-color: black;
    color: #fff;
}

header.rolar .logo .logo-branca{
    display: none;
}

header.rolar .logo img.logo-preta{
    display: block;
}
/* Terminou */

header .menu-desk nav ul{
    list-style-type: none;
}

header .menu-desk nav ul li{
    display: inline-block;
    margin: 0px 40px;
}

header .menu-desk nav ul li a{
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

.menu-desk  a:hover{
    transform: scale(1.05);
}

header .btn-contacto button{
    width: 140px;
    height: 50px;
}

/* Estilo do botao do menu mobile*/
header .btn-menu-mob{
    display: none;
    position: relative;
    z-index: 99999999999999;
}

header .btn-menu-mob div{
    background-color: #fff;
    height: 3px;
    margin: 10px 0;
    transition: .2s
}

header .btn-menu-mob .line-menu-mob-1{
    width: 30px;
}

header .btn-menu-mob .line-menu-mob-2{
    width: 20px;
}

header.rolar .btn-menu-mob div{
    background-color: black;
}

header .btn-menu-mob .line-menu-mob-1.ativo1{
    transform: rotate(45deg) translate(30%);
    background-color: #fff;
}

header .btn-menu-mob .line-menu-mob-2.ativo2{
    transform: rotate(-45deg) translate(30%);
    width: 30px;
    background-color: #fff;
}

/* Estilo do menu mobile */
header .menu-mobile{
    width: 0;
    height: 0;
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    overflow: hidden;
    transition: .5s;
}

header .menu-mobile.abrir{
    width: 100%;
    height: 100vh;
}

header .menu-mobile nav{
    width: 100%;
}

header .menu-mobile nav ul{
    list-style-type: none;
}

header .menu-mobile nav a{
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    padding: 20px 0;
    display: block;
    transition: .5s;
}

header .menu-mobile nav a:hover{
    background-color: #fff;
    color: black;
    box-shadow: 0px 0px 20px #fff;
}

body.no-overflow{
    overflow: hidden;
}


/* Estilo do Hero */
section.hero-site{
    height: 98vh;
    background-image: url("../img/bg-inicio-site.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffff;
}

.hero-site .interface{
    display: flex;
    align-items: center;
    height: 100%;
}

.hero-site .txt-hero{
    margin-top: 40px;
}

.hero-site .txt-hero h1{
    font-size: 4em;
    line-height: 70px;
    font-weight: 200;
}

.hero-site .txt-hero h1 span{
    display: block;
    font-weight: 800;
}

.hero-site .txt-hero p{
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0px;
}

.hero-site .txt-hero p span{
    display: block;
}

.hero-site button{
    width: 220px;
    height: 60px;
    font-size: 20px;
}

/* Estilo das vantagens */
section.vantagens{
    padding: 80px 0px;
}

.vantagens .itens-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 60px;
}

.vantagens .itens-container .img-itens img{
    max-width: 480px;
}

.vantagens .itens-container .txt-itens h3{
    font-size: 3em;
    line-height: 50px;
    margin-bottom: 20px;
}

.itens-container .txt-itens h3 span{
    font-weight: 200;
}

/* Estilo dos botoes do contacto */
section.contacto{
    background-color: #ffff;
    padding: 80px 0px;
}

.txt-contacto, .icons-contacto{
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: middle;
}

.contacto .txt-contacto h3{
    font-size: 2.5em;
    line-height: 50px;
    font-weight: 300;
}

.contacto .txt-contacto h3 span{
    display: block;
    font-weight: 700;
    margin-bottom: 20px;
}

.contacto .txt-contacto p{
    font-size: 1.3em;
}

.contacto .icons-contacto a{
    text-decoration: none;
}

.contacto .icons-contacto button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: 60px;
    margin: 0 auto 20px auto;
    padding: 0 50px;
    background-color: transparent;
    border: 2px solid black;
    cursor: pointer;
    transition: .5s;
}

.contacto .icons-contacto button i{
    font-size: 20px;
}

.contacto .icons-contacto button:hover{
    background-color: black;
}

.contacto .icons-contacto button:hover i, .contacto .icons-contacto button:hover p{
    color: #ffff;
}

/* Estilo da seccao Hoteis */
section.hoteis{
    height: 600px;
    background-image: url("../img/hotel-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
    background-attachment: fixed;
}

.hoteis > .overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.628);
    z-index: 1;
}

.hoteis > .interface{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    z-index: 2;
    position: relative;
}

.hoteis h3{
    font-size: 3em;
    line-height: 50px;
    font-weight: 200;
}

.hoteis h3 span{
    display: block;
    font-weight: 700;
}

.hoteis p{
    margin: 20px 0px;
    font-size: 20px;
    font-weight: 300;
}

.hoteis button{
    width: 220px;
    height: 60px;
}

/* Estilo de como funciona */
section.como-funciona{
    padding: 80px 0;
}

.txt-funciona, .instrucoes{
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: top;
}

.como-funciona .txt-funciona{
    position: sticky;
    top: 50%;
    padding-bottom: 50px;
}

.como-funciona .txt-funciona h3{
    font-size: 4em;
    line-height: 60px;
    font-weight: 300;
}

.como-funciona .txt-funciona h3 span{
    display: block;
    font-weight: 700;
}

.instrucoes .instru-box{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    border: 2px solid black;
    padding: 20px;
}

.instrucoes .instru-box img{
    max-width: 100px;
}

.instrucoes .instru-box h4{
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 10px;
}

.instrucoes .instru-box h4 span{
    font-weight: 300;
}

.instrucoes .instru-box p{
    line-height: 20px;
}

/* Estilo do rodape */
footer{
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

footer .top-footer a{
    text-decoration: none;
}

footer .top-footer button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin: 0 10px;
    transition: .5s
}

footer .top-footer button:hover{
    background-color: #fff;
    color: black;
}

footer .middle-footer{
    margin: 20px 0;
}

footer .middle-footer a{
    color: #fff;
    margin: 0 15px;
}

footer .bottom-footer{
    border-top: 2px solid #fff ;
   
}

footer .bottom-footer p{
    color: #fff;
    margin-top: 10px;
}