*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;  
 font-family: "Poppins", sans-serif; 
}



body{
    background-color: black;
}

.interface{
    max-width: 1280px;
    margin: 0px auto;
}

/* Estilo do Header */
header{
    width: 100%;
    padding: 40px 0px;
}

header .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img{
    max-width: 40px;
}

header .menu-desk nav ul{
    list-style-type: none;
}

header .menu-desk nav ul li{
    display: inline-block;
    margin: 0px 40px;
}

header .menu-desk nav ul li a{
    color: white;
    text-decoration: none;
}

header .btn-contacto button{
    width: 140px;
    height: 50px;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}
